@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.roboto-mono {
  font-family: "Roboto Mono";
  font-optical-sizing: auto;
  font-style: normal;
}
#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  font-family: 'roboto-mono';
  
}
h1{
  font-size: 1.2rem;
  padding-top: 20px;
}
.main-container{
text-align: center;



}
